.align-center {
  text-align: center;
}

.welcome {
  font-family: arial;
}

.i {
  font-style: italic;
}

.start {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin-top: 250px;
}
